{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block main %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> 蜘蛛纸牌</h1>
            <p>蜘蛛纸牌是一种扑克牌游戏，游戏的目标是以最少的移动次数将十叠牌中所有最前面的牌都移走。</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">游戏</a></li>
            <li class="breadcrumb-item active"><a href="#">蜘蛛纸牌</a></li>
        </ul>
    </div>



{% endblock %}

{% block tail %}{% endblock %}
