{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block main %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> 保险</h1>
            <p> 保 险 产 品 显 示 </p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">保险</a></li>
        </ul>
    </div>
    <div id="bx">
        <div class="row">
        <div class="col-lg-12">
            <p class="bs-component">
                <button class="btn btn-primary" type="button">Primary</button>
                <button class="btn btn-secondary" type="button">Secondary</button>
                <button class="btn btn-success" type="button">Success</button>
                <button class="btn btn-info" type="button">Info</button>
                <button class="btn btn-primary" type="button">Primary</button>
                <button class="btn btn-secondary" type="button">Secondary</button>
                <button class="btn btn-success" type="button">Success</button>
                <button class="btn btn-info" type="button">Info</button>
                <button class="btn btn-warning" type="button">Warning</button>
                <button class="btn btn-danger" type="button">Danger</button>
                <button class="btn btn-secondary" type="button">Secondary</button>
                <button class="btn btn-warning" type="button">Warning</button>
                <button class="btn btn-danger" type="button">Danger</button>
                <button class="btn btn-secondary" type="button">Secondary</button>
                <button class="btn btn-success" type="button">Success</button>
                <button class="btn btn-info" type="button">Info</button>
                <button class="btn btn-primary" type="button">Primary</button>
                <button class="btn btn-secondary" type="button">Secondary</button>
                <button class="btn btn-success" type="button">Success</button>
                <button class="btn btn-info" type="button">Info</button>
                <button class="btn btn-warning" type="button">Warning</button>
                <button class="btn btn-danger" type="button">Danger</button>
                <button class="btn btn-secondary" type="button">Secondary</button>
                <button class="btn btn-warning" type="button">Warning</button>
                <button class="btn btn-danger" type="button">Danger</button>
            </p>
        </div>
    </div>

    <div class="row">



        <div class="col-md-6">
            <div class="tile">
                <div class="tile-title-w-btn">
                    <h3 class="title">SweetAlert</h3>
                    <p><a class="btn btn-primary icon-btn" href="http://t4t5.github.io/sweetalert/" target="_blank"><i
                            class="fa fa-file"></i>Docs</a></p>
                </div>
                <div class="tile-body">
                    <p>This plugin can be used as the replacement of native javascript alert, confirm and prompt
                        functions.</p>
                    <h4>Demo</h4><a class="btn btn-info" id="demoSwal" href="#">Sample Alert</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tile">
                <div class="tile-title-w-btn">
                    <h3 class="title">SweetAlert</h3>
                    <p><a class="btn btn-primary icon-btn" href="http://t4t5.github.io/sweetalert/" target="_blank"><i
                            class="fa fa-file"></i>Docs</a></p>
                </div>
                <div class="tile-body">
                    <p>This plugin can be used as the replacement of native javascript alert, confirm and prompt
                        functions.</p>
                    <h4>Demo</h4><a class="btn btn-info" id="demoSwal" href="#">Sample Alert</a>
                </div>
            </div>
        </div>

    </div>
    </div>






{% endblock %}

{% block tail %}

    <script>

    </script>

{% endblock %}
