{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block main %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> 保险</h1>
            <p> 保 险 产 品 显 示 </p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">保险</a></li>
        </ul>
    </div>
    <div id="bx">
        <div class="row">
        <div class="col-lg-12">
            <p class="bs-component">
                <button class="btn btn-primary" type="button">少年</button>
                <button class="btn btn-secondary" type="button">中年</button>
                <button class="btn btn-success" type="button">老年</button>
                <button class="btn btn-info" type="button">消费型</button>
                <button class="btn btn-primary" type="button">储蓄型</button>
                <button class="btn btn-secondary" type="button">旅游</button>
                <button class="btn btn-success" type="button">意外</button>
                <button class="btn btn-info" type="button">健康</button>
                <button class="btn btn-warning" type="button">财产</button>
                <button class="btn btn-danger" type="button">企业</button>
                <button class="btn btn-secondary" type="button">人寿</button>
                <button class="btn btn-warning" type="button">车险</button>
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4" v-for="one_bx in bx_list">

            <div class="tile" v-if="[[ one_bx.id ]]%3==0">
                <div class="tile-title-w-btn">
                    <h3 class="title">[[ one_bx.bxname ]]</h3>
                    <p><a class="btn btn-primary icon-btn" href="#" target="_blank"><i class="fa fa-file"></i>Docs</a></p>
                </div>
                <div class="tile-body">
                    <p>[[ one_bx.introduction ]]</p>
                    <h5 class="text-right">保费：[[ one_bx.coverage ]]元/起</h5>
                    <div class="text-right"><a class="btn btn-info" id="demoSwal" href="#">Sample Alert</a></div>
                </div>
            </div>

            <div class="tile" v-if="[[ one_bx.id ]]%3==1">
                <div class="tile-title-w-btn">
                    <h3 class="title">[[ one_bx.bxname ]]</h3>
                    <p><a class="btn btn-primary icon-btn" href="#" target="_blank"><i class="fa fa-file"></i>Docs</a></p>
                </div>
                <div class="tile-body">
                    <p>[[ one_bx.introduction ]]</p>
                    <h5 class="text-right">保费：[[ one_bx.coverage ]]元/起</h5>
                    <div class="text-right"><a class="btn btn-info" id="demoSwal" href="#">Sample Alert</a></div>
                </div>
            </div>

            <div class="tile" v-if="[[ one_bx.id ]]%3==2">
                <div class="tile-title-w-btn">
                    <h3 class="title">[[ one_bx.bxname ]]</h3>
                    <p><a class="btn btn-primary icon-btn" href="#" target="_blank"><i class="fa fa-file"></i>Docs</a></p>
                </div>
                <div class="tile-body">
                    <p>[[ one_bx.introduction ]]</p>
                    <h5 class="text-right">保费：[[ one_bx.coverage ]]元/起</h5>
                    <div class="text-right"><a class="btn btn-info" id="demoSwal" href="#">Sample Alert</a></div>
                </div>
            </div>

        </div>

    </div>
    </div>

{% endblock %}

{% block tail %}

    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            el: '#bx',
            data: {
                    bx_list: [],
                },
            methods: {
                showbxlist(){
                    var that = this;
                    var url = 'http://localhost:5000/api/bx-list';
                    data = JSON.stringify({});
                    axios.get(url, data).then(function (res) {
                        console.log(res.data);
                        that.bx_list = res.data['bx_list'];
                        console.log(that.bx_list.length);
                        that.total_bx = that.bx_list.length;
                    });
                }
            },
            created: function () {
                this.showbxlist();
            }
        })
    </script>

{% endblock %}
